.{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:fantasy;
}

body{
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(205,205,205,1) 26%, rgba(213,215,210,1) 65%);
	--nav-load-time: 600ms;
	--nav-link-load-time: 800ms;
	--heading-load-delay:  calc(var(--nav-load-time) + var(--nav-link-load-time));
}
/*
h3,h2,h1{
	animation: heading-load 300ms ease-in var(--heading-load-delay);
	animation-fill-mode: forwards;
	transform: translateX(-20px);
    opacity: 0;
}

p{
  animation: heading-load 300ms ease-in calc(var(--heading-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateX(-20px);
  opacity: 0;	
}

@keyframes heading-load
{
	0%{
      transform: translateX(-20px);
      opacity: 0;
	}
	100%{
      transform: translateX(0px);
      opacity: 1;
	}
}
*/

/*---------------------------------------header----------------------------------------------------------------*/
.top-header{
	background: linear-gradient(#0fa305,#e9ede8);
	list-style: none;
	text-decoration: none;
	border-bottom: 0 none;
	height: 42px;
    line-height: 35px;
    font-size: large;
    animation: top-head var(--nav-load-time) ease-in ;
	
}

@keyframes top-head
{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}

.top-header a{
	color: black;
	text-decoration: none;

}


.header{
	background: linear-gradient(90deg, rgba(205,205,205,1) 26%, rgba(213,215,210,1) 65%);
	font-size:xx-large ;
	animation: head-load var(--nav-load-time) ease-in;
}

@keyframes head-load 
{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0%);
	}
}

.header span{
	color: darkgreen;
}

.navbar{
	background: linear-gradient(#e9ede8,#06888c);
    animation: nav-load var(--nav-load-time) ease-in;
}

@keyframes nav-load
{
	0%{
		transform: translateY(-200%);
	}
	100%{
		transform: translateY(0%);
	}
}
.navbar-toggler{
	background-color: green !important;
	left: 0;
}

.navbar ul{
	font-size: larger;
	color: whitesmoke;
}


.active, .navbar ul li a
{
	background: linear-gradient(
		to right bottom,
		rgba(15, 163, 5, 1),
		rgba(15, 163, 5, 0.1)
		);
	color: #ffff;

	border-radius: 10px;
	width: 8rem;
	text-align: center;
	animation-name: link-load;

}
.navbar-nav li{

	animation-name: link-load;
	animation-duration: var(--nav-link-load-time);
	animation-timing-function: ease-in;
	animation-delay: var(--nav-load-time);
	animation-fill-mode: forwards;
	transform: scale(0%);
}

.navbar li:nth-child(1){
	animation-name: nav-first-link-load;
	transform: translateX(-1000%);
}

.navbar li:nth-child(2){
	animation-name: nav-first-link-load;
	transform: translateX(-1000%);
}
.navbar li:nth-child(3){
	animation-name: nav-first-link-load;
	transform: translateX(1000%);
}

.navbar li:nth-child(4){
	animation-name: nav-last-link-load;
	transform: translateX(-1000%);
}


.navbar li:nth-child(6){
	animation-name: nav-last-link-load;
	transform: translateX(1000%);
}
.navbar li:nth-child(5){
	animation-name: nav-last-link-load;
	transform: translateX(1000%);
}



@keyframes link-load
{
	0%{
       transform: scale(0);
	}
	90%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes nav-first-link-load
{
  0%{
       transform: translateX(-1000%);
	}
	90%{
		transform: translateX(10%);
	}
	100%{
		transform: translateX(0%);
	}	
}

@keyframes nav-last-link-load
{
  0%{
       transform: translateX(1000%);
	}
	90%{
		transform: translateX(-10%);
	}
	100%{
		transform: translateX(0%);
	}	
}


.carousel-inner
{

}

.carousel-inner img {
    width: 100%;
    height: 75vh;
 }


 /*---------------------------------------------paralaxxxx--------------------------------------------------------------------------*/


.parallax section{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section button#book_btn{
  position: absolute;
  background: linear-gradient(
		to right bottom,
		rgba(15, 163, 5, 1),
		rgba(15, 163, 5, 0.1)
		);
	color: #ffff;
	border-radius: 3rem !important;
	width: 12rem;
	height: 3rem;
  z-index: 2;
  font-size: x-large;
  top: 35%;
  left: 15%;
  
}

section button#book_btn a{
	text-decoration: none;
}
.home-img img{
	position: absolute;
	width: 100%;
	height: 100%;

}


section img#stars{
	height: 50% !important;
	z-index: 1;
	mix-blend-mode: screen;

}

section img#building1{
	left: 0;
	width: 45%;
	height: 72%;
	z-index: 3;
}

section img#building2{
	width: 50%;
	height: 100% ;
	right: 0;
	z-index: 3;
}



section img#road{
	position: absolute;
	width: 100%;
	height: 28%;
	bottom: 0;
	z-index: 5;
}




section img#bus{
   position: absolute;
   width: 30%;
   height: 35% !important;
   left: 0;
   bottom: 0;
   z-index: 8;
}

/*-----------------------------------------About-Us------------------------------------------------------------------*/
section .about{
	width: 100%;
	overflow: auto;
}

.top-about{
	
	right: 0;
}

.row .top-about::after {
	position: absolute;
    left: 0;
    height: 2.0px;
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0,255, 0.3) 60%, rgba(0, 0, 255, 0) 100%);
    width: 63%;
    content: "";
    margin: 0 auto;
}



.about-img{
	width: 450px;
	height: 250px;
		
}



 


/*------------------------------------------::before---------------------------------------------------------------*/
.about .about-intro-info::before {
    position: absolute;
    right: 0;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 145%;
    content: "";
    margin: -2%;
}

.about .about-conn-info::before {
    position: absolute;
    right: 0;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 210%;
    content: "";
    margin: -2%;
}

.about .about-loc-info::before {
    position: absolute;
    right: 0;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 210%;
    content: "";
    margin: -2%;
}

.about .about-mission-info::before {
    position: absolute;
    right: 0;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 210%;
    content: "";
    margin: -2%;
}





/*--------------------------------------------About-us-----------------------------------------------------------------------*/
span{
	color: darkgreen;
}

p{
	font-size:larger;
	color: #575451;

}

h2{
	font-size: xxx-large;
	color: blue;


}

h3{
	background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*---------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------------------IMAGES----------------------------------------------------------------*/

.image-sec{
	width: 100%;
}


.gallery:hover img {
  filter: brightness(80%);
}

.gallery img{
	transition: .5s ease-in-out;
}




.row .top-images::after{
	position: absolute;
    left: 0;
    height: 2.0px;
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0,255, 0.3) 60%, rgba(0, 0, 255, 0) 100%);
    width: 63%;
    content: "";
    margin: 0 auto;
}


#image-b::before{
    position: absolute;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 100%;
    content: "";
    margin: -2%;
}
.top-images h3{
	font-size: xx-large;
}

.desc{
	text-align: center;
}


/*-------------------------------------------------Term of use------------------------------------------------------*/
.terms-sec{
	width: 100%;

}
.row .top-terms::after{
	position: absolute;
    left: 0;
    height: 2.0px;
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0,255, 0.3) 60%, rgba(0, 0, 255, 0) 100%);
    width: 63%;
    content: "";
    margin: 0 auto;
}

#terms-b::before{
    position: absolute;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 100%;
    content: "";
    margin: -2%;
}



/*----------------------------------------------------contact-us-----------------------------------------------------*/


.row .top-contact::after{
	position: absolute;
    left: 0;
    height: 2.0px;
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0,255, 0.3) 60%, rgba(0, 0, 255, 0) 100%);
    width: 63%;
    content: "";
    margin: 0 auto;
}

#contact-b::before{
    position: absolute;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 100%;
    content: "";
    margin: -2%;
}

#contact-img{
	position: absolute;
	z-index: 1;
	width: 80vh;
	
}



/*--------------------------------------------------search-buses-------------------------------------------------------*/


#book-cont{
    height: 100vh;
    padding-top: 50px;
    
}

.book-search{
   min-height: 80vh;
   width: 100%;
   background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
   border-radius: 2rem;
   backdrop-filter: blur(2rem);
   display: flex;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   justify-content: center;
   align-content: center;
   overflow: hidden;

}




.book-search:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
  pointer-events: none;
  animation: animate 10s linear infinite;
  z-index: 1;
  
}

@keyframes animate
{
	0%
	{
		filter: blur(200px) hue-rotate(0deg);
	}
	100%
	{
		filter: blur(200px) hue-rotate(360deg);
	}
}




.trust .about-trusted-info::before {
    position: absolute;
    right: 0;
    height: 4.0px;
    background: -webkit-linear-gradient(75deg, rgba(0, 0, 255, 1) 0%, rgba(0, 100,0, 1) 38%, rgba(0, 100, 0, 1) 100% );
    width: 160%;
    content: "";
    margin: -2%;
    overflow: hidden;
}

.book-img{
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(255,255,255,0.1);
   border-radius: 2rem;
   background: transparent;
   border: none;
   border-bottom: 2px solid #ffff;
   outline: none;
   font-size: 18px;
}

.book-img img{
	width: 109%;
	background: transparent;
	border: none;
	border-image: 15px solid black;
	outline: none;
	font-size: 18px;
}

.book-form{
	z-index: 1;

}

.form-bg{
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	width: 100%;

}

.form-group  input{
	background: transparent;
	border: none;
	border-bottom: 2px solid #ffff;
	font-size: 18px;
    font-weight: 999;
}




.search-busses button{
	border: none;
	border-bottom: 2px solid #ffff;
	outline: none;
	font-size: 18px;
}

.interchange{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
}



.search-busses{
	display: flex;
	align-items: center;
	justify-content: center;
}

#source ,#dest ,#date{
	background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*------------------------------------------------book1------------------------------------------------------------*/

.full-sec{
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(154,147,140,1) 32%, rgba(154,147,140,1) 82%);
    backdrop-filter: blur(3rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
 
.sec-filter{
	width: 100%;
	height: 100vh;
	


}

.sec-search{
	width: 100%;
	height: 100%;
	

}

.filter-bg{
	width: 100%;
	height: 100%;
	background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(2rem);
	
	margin-top: 10px;
	margin-right: 0px;
  
}



.top-search-bg{
    width: 100%;
	height: auto;
	background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(2rem);
	
	margin: 3px;
	margin-top: 10px;
	
}

.res-search-bg{
    width: 100%;
	height: auto;
	background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(2rem);

    margin: 3px;
    
}

.form-search{
	display: flex;
	justify-content: center;
    align-items: center;
	padding: 7.5%;
}

.interchange-search{
	height: 55px;
}





@media screen and (max-width: 480px){
  .form-search{
  	display: block;
    padding: 5px;

  }
  .interchange-search{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	padding-bottom: 15px;
  }
}

/*-----------------------------------------------bus_res------------------------------------------------------*/
.bus-res{
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}



.bus-res .businfo-res .sub-businfo-res{
	display: flex;
	padding: 2%;
	background-color: white;
	height: 200px;
	justify-content: center;
}


.businfo-res h3{


}
.businfo-res p{
	
}

.businfo-res h2{

	
}

.businfo-res h1{
   font-size: 20px;
}

button{
	background-color: deepskyblue;
	color: white;

}

.view-seats a{
	text-decoration: none;
	color: white;

}

.view-seats{
	width: 150px;
	background: #007bff;
	border-radius: 2px;
	border: none;
}
.view-seats:focus{
	outline: none;
}

.businfo-output{
	display: flex;
	justify-content: center;
}



/*--------------------------------------------------Seats--------------------------------------------------------------*/
.sec-seats{
	width: 100%;
	height: 100%;
	background-color: grey;
    backdrop-filter: blur(3rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.seats-bg{
	width: 100%;
	height: 100%;
	background: linear-gradient(
   	to right top,
   	rgba(255,255,255,0.5),
   	rgba(255,255,255,0.3)
    );
    backdrop-filter: blur(2rem);
    margin: 3px;
}

.points-bg{
   width: 1400px;
   height: 300px;
   background: linear-gradient(
   to right top,
   rgba(255,255,255,0.5),
   rgba(255,255,255,0.3)
   );
   backdrop-filter: blur(2rem);
   margin: 3px;
}











.seats-book-active{
	background-color: white;
	display: block;
}



.seats-book-disable{
	background-color: white;
	display: none;
}



.seats-sec ul {
  list-style-type: none;
}

.seats-sec li {
  display: inline-block;
}

input[type="checkbox"][id^="sp-"] {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0px;
  margin-bottom: 0px;

}

label:before{
  background-color: white;
  color: white;
  content: " ";
  display: block;
  position: absolute;
  border: 1px solid grey;
  top: 11px;
  left: 12px;
  width: 25px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

:root{
	--con:"z";
}

:checked + label {
  border-color: #ddd;
}


/*:checked + label:before {
	font-size: 13px;
	background-color: black;
	transform: translate(-11px, -11px);

}*/
.seatn-disable{
	position: absolute;
	color: white;
	display: block;
	background: transparent;
	width: 32px;
	height: 32px;
	border: white;
	z-index: 5;
	outline: none;
}

.seatB{
	position: absolute;
	display: block;
	background: transparent;
	width: 32px;
	height: 32px;
	border: white;
	z-index: 5;
}


.seatn-active:hover, .seatn-active:focus {
    outline: none;
}

.seatn-disable:hover, .seatn-disable:focus {
    outline: none;
}

.seatn-active{
    position: absolute;
    background: black;
    color: #d439f1 bold;
    font-size: 16px;
    padding: 5px;
    z-index: 5;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    display: block;
    border: white;
    outline: none;
}

.seatsl-disable{
	position: absolute;
	color: white;
	display: block;
	background: transparent;
	width: 50px;
	height: 40px;
	border: white;
	z-index: 5;
	outline: none;
}


.seatsl-active:hover, .seatsl-active:focus {
    outline: none;
}

.seatsl-disable:hover, .seatsl-disable:focus {
    outline: none;
}

.seatsl-active{
    position: absolute;
    background: black;
    color: #d439f1 bold;
    font-size: 16px;
    padding: 5px;
    z-index: 5;
    width: 50px;
    height: 40px;
    border-radius: 8px;
    display: block;
    border: white;
    outline: none;
}



.seater label img{
  height: 32px;
  width: 32px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  float: left;
  z-index: 1;
}

.seater label .blackseat{
  height: 32px;
  width: 32px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  float: left;
  z-index: 1;
}

.sleeper label  img{
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  z-index: 1;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.seat-type span{
	
}

.seat-type h2{
	font-size: 15px;
	padding: 3px;
	margin-top: 5px;
	color: white;
	background-color: green;
}




.seat-type .seater #wheel-img{
	height: 30px;
    width: 30px;
    transform: translate(492px,95px) rotate(90deg);

}

.seat-type .sleeper #wheel-img{
	height: 30px;
    width: 30px;
    transform: translate(406px,80px) rotate(90deg);

}

.ava{
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid black;
	margin: 2px;
}

.unava{
	width: 20px;
	height: 20px;
	background-color: black;
	border: 1px solid black;
	margin: 2px;
}

.sec-1 {
	display: flex;
	justify-content: center;
  
}
.sec-2{
	padding-left: 50px;
	display: flex;
	justify-content: center;
} 

.sec-2 h3{
	margin: 4px;
	font-size: 18px;
}

/*----------------------------------------------------db-points-----------------------------------------------*/
.db-content{
	width: 100%;
    overflow: scroll;
    height: 28vh;
}

.db-contentP{
	width: 100%;
}


.db-header  h2{
	animation: none;
   font-size: 22px;
   transform: none;
}

.db-header p{
	animation: none;
	font-size: 18px;
	transform: none;
}
.board-point{
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-point{
	display: flex;
	justify-content: center;
	align-items: center;
}





.drop-btn:hover, .drop-btn:focus{
	border-bottom: red 2px solid;
	color: red;
	outline: none;
}

.board-btn:hover,  .board-btn:focus{
	border-bottom: red 2px solid;
	color: red;
	outline: none;
}

.board-btn{
	display: flex;
    background: white;
    color: black;
    border: none;
    border-bottom: red 2px solid;
	color: red;
}

.board-btnn{
	display: flex;
    background: white;
    color: black;
    border: none;
}

.drop-btn{
	display: flex;
    background: white;
    color: black;
    border: none;
    
}

.drop-btnn{
	display: flex;
    background: white;
    color: black;
    border: none;
    border-bottom: red 2px solid;
	color: red;
}



.dbdiff{
	position: absolute;
	display: flex;
}


/*-----------------------------------------------------dbpoints-radiosec---------------------------------------------------*/

.board-fetch h2{
	font-size: 20px;
	animation: none;
	transform: none;
}



.board-fetch{
	display: block;
	justify-content: center;
	padding: 35px;
	overflow-y: scroll;
}

.drop-fetch h2{
	font-size: 20px;
	animation: none;
	transform: none;
}

.drop-fetch{
	display: block;
	justify-content: center;
	padding: 35px;
	overflow-y: scroll;
}



input[type=radio]{
	width: 35px;
    height: 15px;
}

.s-prize{
	display: flex;
	justify-content: center;
}

.s-prize h2{
	font-size: 20px;
    display: flex;
    animation: none;
    transform: 0;
}

.s-prize p{
	font-size: 14px;
    display: contents;
    animation: none;
    transform: 0;
}


/*-------------------------------------------------------dp-proceeed--------------------------------------------------*/
.proceed-sec{
	
}

.change-btn{
	background: white;
	color: blue;
	border: none;
}

.bd-change h1{
	color: green;
	animation: none;
	transform: 0;
}

.Pdbpoint h1{
	color: blue;
	font-size: 20px;
	animation: none;
	transform: 0; 
}

.Ppayement{
	display: flex;
	justify-content: center;
}
.Ppayement button{
	background: red;
	outline: none;
}



/*---------------------------------------------Footer-----------------------------------------------------------------*/

footer{
	background: linear-gradient(#e9ede8,#0fa305);
    animation: footer-load 600ms ease-out;
}

@keyframes footer-load
{
	0%{
		transform: translateY(200%);
	}
	100%{
		transform: translateY(100%);
	}
}
footer a{


}

